.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}

button{
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    margin-right: 30px;
}

button:hover{
    opacity: .9;
}