.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

button{
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    align-content: center;
    right: 30px;
    top: 15%;
    position: absolute;
}

button:hover{
    opacity: .9;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    top: 0%;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

h3 {
    top: 15%;
    font-weight: 600;
    margin: 2px 20px;
}
h4 {
    top: 15%;
    font-weight: 400;
    font-size: 14px;
    margin: 2px 20px;
}

.popover{
    background-color: #FAFAFA;
    width: 13.5%;
    border: 1px solid #DDDDDD;
    position: absolute;
    visibility: hidden;
}

.amenities:hover .popover,
.locations:hover .popover{
    visibility: visible;
}